<div style='border: 5px solid black; border-radius: 15px'>
  <h1 style='text-align: center;'>Star Wars</h1>
  <h3 style='text-align: center;'>(is freakin awesome!!!)</h3>
</div>

<div>
  <p>
    This stackblitz project leverages the amazing SWAPI service put together
    by some awesome Star Wars lovers! You can check out the service at
    <a href='https://swapi.co'>https://swapi.co</a>.
  </p>
 
</div>

<dx-box direction='row'>
  <dxi-item [ratio]='1'>
    <mat-card class='swCardClass'>People</mat-card>
  </dxi-item>
  <dxi-item [ratio]='1'>
    <mat-card class='swCardClass'>Planets</mat-card>
  </dxi-item>
  <dxi-item [ratio]='1'>
    <mat-card class='swCardClass'>Starships</mat-card>
  </dxi-item>
</dx-box>

<dx-box direction='row'>
  <dxi-item [ratio]='1'>
    <mat-card class='swCardClass'>Species</mat-card>
  </dxi-item>
  <dxi-item [ratio]='1'>
    <mat-card class='swCardClass'>Films</mat-card>
  </dxi-item>
  <dxi-item [ratio]='1'>
    <mat-card class='swCardClass'>Vehicles</mat-card>
  </dxi-item>
</dx-box>