p {
  font-family: Lato;
}

.swCardClass{
  color: white;
  border: 3px groove white;
  margin: 2px;
  border-radius: 1px;
  text-align: center;
  background-color: black;
}

.findButton {
  margin: 5px;
  border: 1px solid whitesmoke;
}