/****
* If you are running this on stackblitz you will 
* need to comment out these lines so the devextreme stuff works and doesnt yell at you.
* the index.html has the links to the CDN housing the css files for use in stackblitz.
*/


@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@import "../node_modules/devextreme/dist/css/dx.common.css";
@import "../node_modules/devextreme/dist/css/dx.light.css";